<h1 id="title">Welcome to Ember</h1>

{{#link-to "index"}}Home{{/link-to}}

<nav>
    {{#link-to "about"}}About{{/link-to}}
    {{#link-to "posts"}}Posts{{/link-to}}
    {{#link-to "favorites"}}Favorites{{/link-to}}
</nav>

{{outlet}}